.emoji-wrapper {
  position: relative;
}

/* emoji-picker */
.emoji-picker {
  background: #fff;
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  padding-block: 6px;
  display: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.emoji-container {
  width: 290px;
  position: absolute;
  bottom: 120%;
  transform: translateX(-40%);
}

/* tabs-content */
.tabs-content {
  padding-left: 0;
  width: 290px;
  height: 170px;
  list-style: none;
  display: none;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); */
  justify-items: center;
  row-gap: 5px;
  overflow: auto;
}

.tabs-content::-webkit-scrollbar {
  width: 6px;
}

.tabs-content::-webkit-scrollbar-track {
  background: transparent;
}

.tabs-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.tabs-content::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.tabs-content li {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.tabs-content li img {
  width: 30px;
}

/* tabs-list-trigger */
.tabs-list-trigger {
  padding-left: 0;
  display: flex;
  margin: 0;
}

/* tabs-trigger */
.tabs-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.tabs-trigger[data-state="active"] {
  background-color: #aeb3be;
}

/* emoji-button */
.emoji-button {
  cursor: pointer;
}

.emoji-button:hover .emoji-button-tooltip {
  opacity: 1;
}

/* emoji-button-tooltip */
.emoji-button-tooltip {
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 50px;
  background-color: #333;
  color: #fff;
  padding: 6px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* emoji-button-svg */
/* @keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
} */

.emoji-button-svg {
  border-radius: 50%;
  background-color: lightcoral;
}

/* .emoji-button-svg:hover circle:nth-child(1) {
  animation: jump 0.6s ease-in-out infinite;
}

.emoji-button-svg:hover circle:nth-child(2) {
  animation: jump 0.6s ease-in-out infinite 0.2s;
}

.emoji-button-svg:hover circle:nth-child(3) {
  animation: jump 0.6s ease-in-out infinite 0.4s;
} */

/* emoji-click-animation */
.emoji-click-animation {
  position: absolute;
  pointer-events: none;
}